@model BusinessObjects.Article
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;


@{
    ViewData["Title"] = "Detail";
}


@section Styles{
    <link rel="stylesheet" href="~/css/detail.css" />
}

<div class="flx-container">
    <div class="col-sm-12 col-md-9 article-detail">
        <form>
            <div class="form-container">
                <h1 id="form-title"
                    class="title article-input">
                    @Model?.Title
                </h1>
                <small id="titleHelp">
                    By <a href="#">@Model.User.FirstName @Model.User.LastName</a> |
                    @Html.DisplayFor(model => model.DatePosted)
                </small> 
                @if (@Model.User.Id.Equals(UserManager.GetUserId(User)))
                {
                    <span>| </span><a href='@Url.Action("Editor","Article",new {id=Model.ID.ToString() })'> edit</a>
                }
            </div>

            @if (@Model.Summary != null)
            {
                <div class="form-container">
                    <blockquote class="blockquote" aria-describedby="tldrHelp">
                        <p id="form-tldr"
                           class="mb-0 article-input">@Model?.Summary</p>
                        <small class="charcount-input" count-for="form-tldr"></small>
                    </blockquote>
                </div>
            }


            <div class="form-container">

                <div id="form-content" class="article-input" aria-describedby="contentHelp">
                    @Html.Raw(Model.ContentHtml)
                </div>
            </div>


        </form>

    </div>
</div>