@model BusinessObjects.Article
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;


@{
    ViewData["Title"] = "Detail";
}

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@section Styles{
    @*<link rel="stylesheet" href="~/css/detail.css" />*@
    <link rel="stylesheet" href="~/css/detail.min.css" asp-append-version="true" />

}

@section Scripts{
    @*    <script src="~/js/detail.js"></script>*@
    <script src="~/js/detail.min.js" asp-append-version="true"></script>

}

@section CoverImg{
    @{
        string img = $"{@Configuration["Credentials:AWS:ImagePathPre"]}{Configuration["Credentials:AWS:ImageBucket"]}{@Configuration["Credentials:AWS:ImagePathPost"]}";
    }

    <div class="article-header">
        <div class="article-img-container">
            @*<img id="article-img-cover" src="@ViewData["ArticleCoverImg"]" />*@
            <img id="article-img-cover" src="@img/@Model.ID" />
        </div>
        <div class="flx-container article-header-info-container">
            <div class="article-header-info-inner col-9">
                <h1 id="form-title"
                    class="title article-input">
                    @if (Model.Title != null)
                    {
                        <span>@Model.Title</span>
                    }
                    else
                    {
                        <span class="empty">untitled article</span>
                    }
                </h1>
                <div class="article-user-info">
                    <small id="titleHelp" class="user-link-container">
                        <span>By <a asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.User.Id">@Model.User.FirstName @Model.User.LastName</a></span>
                    </small>
                    <small>
                        @if (Model.Status.Name.Equals("Draft"))
                        {
                            <a class="btn btn-outline-secondary btn-alt my-2 my-sm-0" asp-controller="Article" asp-action="Editor" asp-route-id="@Model.ID">continue editing</a>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.DatePosted)
                        }
                    </small>
                </div>
            </div>
        </div>
    </div>
}
<div class="flx-container">
    <div class="col-sm-12 col-md-9 article-detail">
        <form>

            @*<div class="form-container">
                article-info used to be here
                </div>*@

            @if (@Model.Summary != null)
            {
                <div class="form-container">
                    <blockquote class="blockquote" aria-describedby="tldrHelp">
                        <p id="form-tldr"
                           class="mb-0 article-input">@Model?.Summary</p>
                        <small class="charcount-input" count-for="form-tldr"></small>
                    </blockquote>
                </div>
            }


            <div class="form-container">

                <div id="form-content" class="article-input" aria-describedby="contentHelp">
                    @Html.Raw(Model.ContentHtml)
                    @if (Model.ContentHtml == null)
                    {
                        <span class="empty">this article has no content</span>
                    }
                </div>
            </div>


        </form>

    </div>
</div>