@using Microsoft.AspNetCore.Identity
@using BusinessObjects

@model TekiBlog.ViewModels.HomePageViewModel
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@section Styles{
    @*<link rel="stylesheet" href="~/css/notification.css">*@
    @*<link rel="stylesheet" href="~/css/article-card.css">*@
    @*<link rel="stylesheet" href="~/css/homepage.css">*@
    <link rel="stylesheet" href="~/css/homepage.min.css" asp-append-version="true">
}

@section Scripts{
    @*<script src="~/js/notification.js"></script>
        <script src="~/js/readinglist.js"></script>*@
    <script src="~/js/compose.js" asp-append-version="true"></script>
    <script src="~/js/home.min.js" asp-append-version="true"></script>

    <script>$(".body-content").addClass("col-12");</script>
}

@section MidBody{
    <partial name="_ComposePartial" />
}

<div class="home-page-left">
    @if(ViewData["TagHeader"] != null)
    {
        <h3 class="tag">@ViewData["TagHeader"]</h3>
    }

    @if (Model.Articles.Any())
    {
        <div class="article-card-list-container col-12">
            <a id="href-remove-template" class="d-none" asp-controller="Bookmark" asp-action="BookmarkRemove"></a>
            <a id="href-add-template" class="d-none" asp-controller="Bookmark" asp-action="BookmarkAdd"></a>
            @*@{
                string img = $"{@Configuration["Credentials:AWS:ImagePathPre"]}{Configuration["Credentials:AWS:ThumbnailBucket"]}{@Configuration["Credentials:AWS:ImagePathPost"]}";
            }*@
            @foreach (var item in Model.Articles)
            {
                <div class="article-card-container">
                    <div class="article-link-container">
                        <div class="article-thumbnail-container">
                            <a class="article-link" asp-controller="Article" asp-action="Detail" asp-route-id="@item.ID">
                                @*<img class="article-link-img" src="@img/@item.ID" />*@
                                @if (item.ThumbnailImage != null)
                                {
                                    <img id="article-img-cover" src="data:image;base64,@System.Convert.ToBase64String(item.ThumbnailImage)" />
                                }
                                else
                                {
                                    <img id="article-img-cover" src="/img/empty.jpg" />
                                }
                            </a>
                        </div>
                        <div class="article-info-container">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                var user = await UserManager.GetUserAsync(User);
                                //var role = await UserManager
                                var role = await UserManager.GetRolesAsync(user);
                                if (role.Contains("User"))
                                {
                                    if (Model.UserBookmarks.Find(x => x.ArticleID.Equals(item.ID)) != null)
                                    {
                                        <a class="read-later-link" asp-controller="Bookmark" asp-action="BookmarkRemove" asp-route-id="@item.ID"><i class="fa fa-bookmark"></i></a>
                                    }
                                    else
                                    {
                                        <a class="read-later-link" asp-controller="Bookmark" asp-action="BookmarkAdd" asp-route-id="@item.ID"><i class="fa fa-bookmark-o"></i></a>

                                    }
                                }
                            }
                            <a class="article-link article-link-title-container" asp-controller="Article" asp-action="Detail" asp-route-id="@item.ID">
                                <h3 class="article-link-title">@item.Title</h3>
                            </a>
                            <div class="article-user-container">
                                by <a asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@item.User.Id">@item.User.FirstName @item.User.LastName</a>
                                | @item.DatePosted.ToString("MMM d, yyyy")
                            </div>
                            <div>
                                @if (item.ArticleTags.Count() != 0)
                                {
                                    @foreach (var articleTag in item.ArticleTags)
                                    {
                                        <span class="badge badge-secondary">
                                            <a style="color:white; text-decoration:none" asp-controller="Article" asp-action="Home" asp-route-tagid="@articleTag.TagId">
                                                @articleTag.Tag.Name
                                            </a>
                                        </span>
                                    }
                                }

                            </div>
                            <div class="article-summary-container">
                                @if (item.Summary != null)
                                {
                                    <p class="summary">@item.Summary</p>
                                }
                                else
                                {
                                    <p class="summary summary-empty">this article has no summary</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            }
        </div>


        var prevDisabled = !Model.Articles.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Articles.HasNextPage ? "disabled" : "";

        <div class="page-btn-container">
            <a asp-controller="Article"
               asp-action="Home"
               asp-route-pageNumber="@(Model.Articles.PageIndex - 1)"
               class="btn btn-default btn-prev @prevDisabled">
            </a>
            <a asp-controller="Article"
               asp-action="Home"
               asp-route-pageNumber="@(Model.Articles.PageIndex + 1)"
               class="btn btn-default btn-next @nextDisabled">
            </a>
        </div>
    }
    else
    {
        <h6>no article found, please come again later</h6>
    }
</div>
<div class="home-page-right">
    <div class="tag-list-container">
    <span class="header-tag">discover more articles</span>
    <partial name="_Tags" />
    <partial name="_NotificationPartial" />
    </div>
</div>
