@model IQueryable<Article>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager;

@section Styles{
    <link rel="stylesheet" href="~/css/profile.css" />
}

@{
    var user = await userManager.GetUserAsync(User);
    <header>
        <h1>
            @user.FirstName @user.LastName
        </h1>
        <h4>
            @user.UserName
        </h4>
        <h5>
            @user.Email
        </h5>
    </header>
    <div class="container-fluid">
        <div class="col-12">
            <table class="table">
                <thead class="black white-text">
                    <tr class="d-flex">
                        <th scope="col" class="col-1">
                            #
                        </th>
                        <th scope="col" class="col-5">
                            Title
                        </th>
                        <th scope="col" class="col-1">
                            Status
                        </th>
                        <th scope="col" class="col-5">
                            Action
                        </th>
                        <th>
                            Tag
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var num = 0;
                        foreach (var item in Model)
                        {
                            num = num + 1;
                            <tr class="d-flex">
                                <td class="col-1">
                                    @num
                                </td>
                                <td class="col-5 tbl-title">
                                    @if (item.Title != null)
                                    {
                                        <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.ID">@item.Title</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.ID">untitled article</a>
                                    }
                                </td>
                                <td class="col-1">
                                    @item.Status.Name
                                </td>
                                <td class="col-5">
                                    <a class="btn btn-secondary" asp-controller="Article" asp-action="Editor" asp-route-id="@item.ID">Update</a>
                                    @if (item.Status.Name.Equals("Disable"))
                                    {
                                        <a class="btn btn-secondary" asp-controller="Article" asp-action="ModifyArticle" asp-route-id="@item.ID" asp-route-type="Active">Enable</a>
                                    }
                                    @if (item.Status.Name.Equals("Active"))
                                    {
                                        <a class="btn btn-secondary" asp-controller="Article" asp-action="ModifyArticle" asp-route-id="@item.ID" asp-route-type="Disable">Disable</a>
                                    }
                                    <a class="btn btn-secondary" asp-controller="Article" asp-action="ModifyArticle" asp-route-id="@item.ID" asp-route-type="Deleted">Delete</a>

                                </td>
                                <td>
                                    @if (item.ArticleTags.Count() == 0)
                                    {
                                        <div>No tags found</div>
                                    }
                                    else
                                    {
                                        @foreach (var articleTag in item.ArticleTags)
                                        {
                                            <span class="badge badge-secondary">
                                                <a style="color:white; text-decoration:none" asp-controller="Article" asp-action="Home" asp-route-tagid="@articleTag.TagId">
                                                    @articleTag.Tag.Name
                                                </a>
                                            </span>
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}




