<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TekiBlog</title>
    <link rel="icon" href="~/favicon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    @RenderSection("PreScripts", required: false)
    @RenderSection("Styles", required: false)
</head>
<body>
    <header id="site-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="img-brand" src="~/img/logo.png">
            </a>
            <partial name="_UserLinkPartial" />

            <ul class="navbar-nav mr-auto"></ul>

            <form asp-controller="Article" class="form-inline my-2 my-lg-0" asp-action="Search" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Input here..." name="searchValue" aria-label="Search" value="@ViewData["SearchValue"]">
                <button class="btn btn-outline-secondary my-2 my-sm-0" title="Search" type="submit"><i class="fa fa-search"></i></button>

            </form>

            <partial name="_LoginPartial" />

        </nav>
    </header>

    <partial name="_ComposePartial" />
    @RenderSection("CoverImg", required: false)
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TekiBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
